{% extends "layout.html" %}

{% block title %}
    Meditation
{% endblock %}

{% block main %}

        <!-- Based on: Title: I coded a HIIT Timer with HTML and CSS (Part 1)
        Author: teclado
        Date: 2020
        Aveilability: https://www.youtube.com/watch?v=-cq--miq5NI -->
        <main class="main2">
            <h2 class="title_h2">Setup</h2>
            <span class="timer">00s</span>

            <progress max="10" value="10" class="progress progress--set" id="progresBar"></progress>

            <br>

            <form class="form" method="post">
                <label class="form__label" for="duration">Duration:</label>
                <input class="form__input" type="number" name="duration" id="duration" value="15">

                <span class="units">(minutes)</span>

                <label class="form__label" for="interval">Interval time:</label>
                <input class="form__input" type="number" name="interval" id="interval" value="5">

                <span class="units">(minutes)</span>

                <button id = "btn-submit" class="btn btn-primary" type="submit">Start!</button>


            </form>
        </main>
{% endblock %}